    <footer>
        <p> 
        <a href="/">&copy;CCI&nbsp;Connections</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
    </p>
    <p class="rightfooter">
        <a href="#"><img class="imgfooter" src="/images/twitter.png" alt="Twitter"></a>
        <a href="#"><img class="imgfooter" src="/images/fb.jpg" alt="FB"></a>
    </p>
    </footer>

    
</body>
</html>