<header>
    <a href="/" class="logoSymbol"><img class="logoimg" src="/images/logo.png" alt="UNC Charlotte" ></a>
    <div id="menuSymbol" onclick="menuToggle()">=</div>
    <nav class="navigation">
        <a href="/connections/new">Start a new Connection</a>
        <span class="vl"> | </span>
        <a href="/#">Login</a>
        <span class="vl"> | </span>
        <a href="/#">Signup</a>
    </nav>
</header>
<hr>
<header>
    <nav class="navigation">
        <a href="/connections">Connections</a>
    </nav>
</header>