<%- include('./partials/htmlInit.ejs') %>
    <title>About</title>
</head>
<%- include('./partials/header.ejs') %>
<main>
    <section>
        <h2 class="textAlignCentre">About Us</h2>
        <br>
        <p>
            7 Stunning Examples of Event Planner Website Design
By Social Tables
It can be tough to stand out from the crowd as an event planner. There are plenty of individuals and companies in your area that know the lay of the land and can plan a great event. So how can you show potential clients that your events are a cut above the rest? One powerful way is with top-tier event planner website design.

Think of your website as your digital storefront, business card, and sales presentation rolled into one. A great website shows off your best work, targets your perfect audience, and tells a story about you and your business.

With that being the case, we gathered some of the industry’s top examples of event planner website design. Take inspiration from each planner and company listed below and find out what makes their websites stand out above the competition.
        </p>
        <br>
    </section>
</main>

<%- include('./partials/footer.ejs') %>