<%- include('./partials/htmlInit.ejs') %>
    <title>Contact</title>
</head>
<%- include('./partials/header.ejs') %>
<main>
    <section>
        <h2 class="textAlignCentre">Contact Details</h2>
        <br>
        <p>
            <strong>Name:</strong> Shubham Rajeshkumar Shah <br>
            <Strong>Student Id:</Strong> 801257810 <br>
            <Strong>University:</Strong> University of North Carolina, Charlotte<br>
            <strong>Address:</strong> 9501 G, University Terrace Dr, Charlotte, NC, 28262<br>
            <strong>Phone Number:</strong> 9803108598<br>
        </p>
        <br>
    </section>
</main>

<%- include('./partials/footer.ejs') %>