<%- include('./partials/htmlInit.ejs') %>
    <title>Home</title>
</head>
<%- include('./partials/header.ejs')%>
    <main>
        <section>
            <h2 class="textAlignCentre">Event Management Portal</h2>
            <br>
            <p>
                Welcome to CCI Connection site. 
            </p>
            <br>
            <p>
                Attend and create CCI events to connect with people. Whether you are looking for a study buddy, trying to connect with others who are interested in something you love to do, or want to try something new.
            </p>
            <br>
            <p>
                Check out the Connections section to browse available connections!
            </p>
        </section>
    </main>
    <%- include('./partials/footer.ejs')%>